<div class="about">
    <div class="container">
        <div class="content">
            <div class="about__info-wrapper">
                <h2 class="title-decoration">О компании</h2>
                <p>Наше трансагентство — транспортная компания, которая осуществит перевозку ваших
                    грузов любыми типами автотранспорта на территории Российской Федерации и ближнего зарубежья. Мы
                    перевезем мебель, стройматериалы, домашние вещи, поможем выполнить погрузочно-разгрузочные работы,
                    осуществим для Вас квартирный, дачный или офисный переезд, сборку-разборку мебели. Мы страхуем любые
                    возможные риски связанные с экспедицией и перевозкой груза.</p>
            </div>
            <div class="about__statistics statistics">
                <div class="statistics__item">
                    <h5 class="statistics__item_title"></h5>
                    <p class="statistics__item_title-description"></p>
                    <p class="statistics__item_description"></p>
                </div>
                <div class="statistics__item">
                    <h5 class="statistics__item_title"></h5>
                    <p class="statistics__item_title-description"></p>
                    <p class="statistics__item_description"></p>
                </div>
                <div class="statistics__item">
                    <img src="./img/stat.png" alt="" class="statistics__item_img">
                </div>
                <div class="statistics__item">
                    <h5 class="statistics__item_title"></h5>
                    <p class="statistics__item_title-description"></p>
                    <p class="statistics__item_description"></p>
                </div>
            </div>
        </div>
    </div>
</div>