<div class="about">
    <div class="container">
        <div class="content about__wrapper">
            <div class="about__info-wrapper">
                <h2 class="title-decoration">О компании</h2>
                <p>Наше трансагентство — транспортная компания, которая осуществит перевозку ваших
                    грузов любыми типами автотранспорта на территории Российской Федерации и ближнего зарубежья. Мы
                    перевезем мебель, стройматериалы, домашние вещи, поможем выполнить погрузочно-разгрузочные работы,
                    осуществим для Вас квартирный, дачный или офисный переезд, сборку-разборку мебели. Мы страхуем любые
                    возможные риски связанные с экспедицией и перевозкой груза.</p>
            </div>
            <div class="about__statistics statistics">
                <div class="statistics__item">
                    <h5 class="statistics__item_title">48</h5>
                    <p class="statistics__item_title-description">Офисов</p>
                    <p class="statistics__item_description">В Европе и СНГ</p>
                </div>
                <div class="statistics__item">
                    <h5 class="statistics__item_title">361</h5>
                    <p class="statistics__item_title-description">грузовик</p>
                    <p class="statistics__item_description">Volvo, Scania</p>
                </div>
                <div class="statistics__item statistics__item_img">
                </div>
                <div class="statistics__item">
                    <h5 class="statistics__item_title">1500</h5>
                    <p class="statistics__item_title-description">сотрудников</p>
                    <p class="statistics__item_description">Профессионалов</p>
                </div>
            </div>
        </div>
    </div>
</div>