<div class="header">
    <div class="container">
        <div class="content">
            <div class="header__item">
                <img src="./img/logo.png" alt="" class="header__logo logo">
                <div class="header__location-wrapper location">
                    <img src="./img/place.png" alt="" class="location__img">
                    <a href="" class="location__description">Наши офисы</a>
                </div>
            </div>
            <div class="header__item">
                <div class="header__menu menu">
                    <a href="" class="menu__item">Услуги</a>
                    <a href="" class="menu__item">О компании</a>
                    <a href="" class="menu__item">Вакансии</a>
                    <a href="" class="menu__item">Контакты</a>
                </div>
            </div>
            <div class="hamburger">
                <button class="hamburger__button" onclick="">
                    <img src="./img/menu.png">
                </button>
                <ul class="hamburger__items">
                    <li class="close">✘</li>
                    <li><a class="hamburger__item" href="#catalogue">Услуги</a></li>
                    <li><a class="hamburger__item" href="#request">О компании</a></li>
                    <li><a class="hamburger__item" href="#reviews">Вакансии</a></li>
                    <li><a class="hamburger__item" href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>