<div class="pre-header">
    <div class="container">
        <div class="content">
            <div class="pre-header__item">
                <a href="" class="pre-header__item-description">РУС</a>
                <a href="" class="pre-header__item-description pre-header__item-description_active">ENG</a>
            </div>
            <div class="pre-header__item">
                <a href="tel:+789421194567" class="pre-header__item-description">8 (942) 119-45-67</a>
            </div>
            <div class="pre-header__item">
                <a href="mailto:company@mail.ru" class="pre-header__item-description">company@mail.ru</a>
            </div>
        </div>
    </div>
</div>