<div class="slider">
    <div class="container">
        <div class="content">
            <div class="info-wrapper">
                <h2 class="title-decoration">Грузоперевозки по европе</h2>
                <p>Страны Евросоюза, а также Украина, Белоруссия со всеми документами.</p>
                <button class="button">Подробнее</button>
            </div>
            <div class="slider-wrapper">
                <img class="slider__img" src="./img/wagon.png" alt="">
                <div class="slider__control-wrapper">
                    <p class="slider__control_next">
                        след
                    </p>
                    <p class="slider__control_pre">
                        пред
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>