.pre-header 
    background-color: #C8A35F
    & .content
        display: flex
        justify-content: space-between
        padding: 16px
    &__item-description
        &_active
            opacity: 75%
