.slider 
    position: relative
    &::before, &::after
        content: ''
        height: 100%
        width: 40%
        background-color: #393F47
        position: absolute
    &::before
        top: 0
        left: 0
    &::after
        top: 0
        right: 0
    & .content
        display: flex
        margin: 120px 0
        align-items: center
        justify-content: flex-start
    &__img
        width: 600px
        z-index: 10
        margin-left: 60px
.info-wrapper
    z-index: 1000

@include respond-to(lg) 
    .slider 
        &__img
            width: 500px

@include respond-to(md) 
    .slider 
        &__img
            width: 350px
@include respond-to(sm) 
    .slider 
        &__img
            width: 300px
            margin-left: 0px
@media screen and (max-width: 440px)
    .slider 
        & .content
            display: flex
            flex-direction: column
            margin: 120px 0 50px
            align-items: start
        &__img
            width: 300px
            margin-left: -30px
            margin-top: 30px
    